version: '3.8'

services:
  web:
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - rabbitmq
    env_file:
      - .env
    command: sh -c "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"

  db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=peercast
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:6
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  celery:
    build: .
    command: celery -A peercast worker --loglevel=info
    depends_on:
      - redis
      - db
      - rabbitmq
    volumes:
      - .:/code
    env_file:
      - .env

  celery-beat:
    build: .
    command: celery -A peercast beat --loglevel=info
    depends_on:
      - redis
      - db
      - rabbitmq
    volumes:
      - .:/code
    env_file:
      - .env

volumes:
  postgres_data:
