Django
psycopg2-binary
djangorestframework
djangorestframework-simplejwt
django-dotenv
boto3
botocore
django-ratelimit
python-slugify
celery
redis
django-cors-headers
channels==3.0.5
channels-redis
aioredis
asyncio
webauthn
tailwindcss
fido2